<%= form_with(model: alumni) do |form| %>
  <% if alumni.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alumni.errors.count, "error") %> prohibited this alumni from being saved:</h2>

      <ul>
        <% alumni.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mem_Id %>
    <%= form.number_field :mem_Id %>
  </div>

  <div class="field">
    <%= form.label :mem_Email %>
    <%= form.text_field :mem_Email %>
  </div>

  <div class="field">
    <%= form.label :mem_Name %>
    <%= form.text_field :mem_Name %>
  </div>

  <div class="field">
    <%= form.label :mem_Degree %>
    <%= form.text_field :mem_Degree %>
  </div>

  <div class="field">
    <%= form.label :mem_Dept %>
    <%= form.text_field :mem_Dept %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
