<!DOCTYPE html>
<html>
  <head>
    <title>Alumni List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Warning !! ensure that "stylesheet_pack_tag" is used, line below -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <form class="form-inline">
    <a class="btn btn-outline-success" type="button" href="/alums/new">ADD ALUMNI</a>
    <a class="btn btn-outline-primary" type="button" href="/members">MEMBER LIST</a>
    <a class="btn btn-outline-primary" type="button" href="/meetings">MEETING LIST</a>
  </form>
</nav>

<p id="notice"><%= notice %></p>

<h1>Alumni</h1>
<div class="container" id="table_container">
<%= form_tag(alums_path, method: :get) do %>
  <p> Search for a Alumni by name</p>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>
<br>
<table style="width: 80%;" class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th><%= link_to "Email", :sort => "email" %></th>
      <th><%= link_to "Degree", :sort => "degree" %></th>
      <th><%= link_to "Division", :sort => "divsion" %></th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @alums.each do |alum| %>
      <tr>
        <td><%= alum.name %></td>
        <td><%= alum.email %></td>
        <td><%= alum.degree %></td>
        <td><%= alum.divsion %></td>
        <td><%= link_to 'Show', alum %></td>
        <td><%= link_to 'Edit', edit_alum_path(alum) %></td>
        <td><%= link_to 'Delete', alum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>
</html>