<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alum.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @alum.email %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @alum.degree %>
</p>

<p>
  <strong>Divsion:</strong>
  <%= @alum.divsion %>
</p>

<%= link_to 'Edit', edit_alum_path(@alum) %> |
<%= link_to 'Back', alums_path %>
