<h1>You're logged in! Welcome to the Admin Dashboard!</h1>

<%= link_to 'Members', '/members' %> 
<%= link_to 'Attendance', '/attendances' %> 
<%= link_to 'Alumni', '/alums' %> 
<%= link_to 'Meetings', '/meetings' %> 
<%= link_to "Sign Out", destroy_admin_session_path %>