<%= form_with(model: member) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ID %>
    <%= form.number_field :Mem_id %>
  </div>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Mem_name %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Mem_email %>
  </div>

  <div class="field">
    <%= form.label :Points %>
    <%= form.number_field :Mem_Points %>
  </div>

  <div class="field">
    <%= form.label :Divsion %>
    <%= form.select :Mem_Dept, [['Learning Sciences'],['Counseling Psychology'],['Special Education'],['Research, Measurement and Statistics'],['Bilingual Education']], include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :Degree %>
    <%= form.select :Mem_degree, [['Masters (traditional)'],['Masters (online)'],['PhD']], include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
