<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Warning !! ensure that "stylesheet_pack_tag" is used, line below -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <p id="notice"><%= notice %></p>

<h1>Members</h1>

<div class="container" id="table_container">
<table style="width: 500px;" class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Points</th>
      <th>Degree</th>
      <th>Division</th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.points %></td>
        <td><%= member.degree %></td>
        <td><%= member.division %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Add Member', new_member_path %>

<br>
<%= link_to 'Get Meeting Points', new_attendance_path %>
<br>
<%= link_to 'View All Meetings', meetings_path %>
<br>
<%= link_to 'Alumni List', alums_path %>

<br>

<%= link_to 'Home', '/' %>
</body>
</html>