<p id="notice"><%= notice %></p>

<h1>Members</h1>

<table>
  <thead>
    <tr>
      <th>Mem ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Points</th>
      <th>Division</th>
      <th>Degree</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.Mem_id %></td>
        <td><%= member.Mem_name %></td>
        <td><%= member.Mem_email %></td>
        <td><%= member.Mem_Points %></td>
        <td><%= member.Mem_Dept %></td>
        <td><%= member.Mem_degree %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Member', new_member_path %>

<br>

<%= link_to 'Attend Meeting', new_attendance_path %>

<br>

<%= link_to 'View All Meetings', meetings_path %>

<br>

<%= link_to 'Alumni List', alums_path %>

<br>

<%= link_to 'Home', '/' %>
