<!DOCTYPE html>
<html>
  <head>
    <title>Member List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Warning !! ensure that "stylesheet_pack_tag" is used, line below -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" type="button" href="/members/new">REGIST NEW MEMBER</a>
    <a class="btn btn-outline-success" type="button" href="/attendances/new">GET POINTS</a>
    <a class="btn btn-outline-primary" type="button" href="/meetings">MEETING LIST</a>
    <a class="btn btn-outline-success" type="button" href="/alums">ALUMNI LIST</a>
  </form>
</nav>

<p id="notice"><%= notice %></p>



<h1>Members</h1>

<div class="container" id="table_container">
<%= form_tag(members_path, method: :get) do %>
  <p> Search for a member by name</p>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>
<br>
<table style="width: 80%;" class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th><%= link_to "Name", :sort => "name" %></th>
      <th><%= link_to "Email", :sort => "email" %></th>
      <th><%= link_to "Points", :sort => "points" %></th>
      <th><%= link_to "Degree", :sort => "degree" %></th>
      <th><%= link_to "Division", :sort => "division" %></th>
      <th colspan="3">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.points %></td>
        <td><%= member.degree %></td>
        <td><%= member.division %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
</body>
</html>