<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Points:</strong>
  <%= @member.points %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @member.degree %>
</p>

<p>
  <strong>Division:</strong>
  <%= @member.division %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
