<p id="notice"><%= notice %></p>

<p>
  <strong>Mem ID:</strong>
  <%= @member.Mem_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.Mem_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.Mem_email %>
</p>

<p>
  <strong>Points:</strong>
  <%= @member.Mem_Points %>
</p>

<p>
  <strong>Division:</strong>
  <%= @member.Mem_Dept %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @member.Mem_degree %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
